plottingTools/coffea_vs_RDF/*.root
plottingTools/coffea_vs_RDF/makeHistogramsRDF
plottingTools/coffea_vs_RDF/xMakeHistogramsRDF
plottingTools/coffea_vs_RDF/coffeaenv/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
